  @font-face {
  font-family: "Monthoers";
  src: url("/fonts/Monthoers.otf");
  }

@font-face {font-family: 'Asfalto-Italic';src: url('/fonts/2F769F_0_0.eot');src: url('/fonts/2F769F_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2F769F_0_0.woff2') format('woff2'),url('/fonts/2F769F_0_0.woff') format('woff'),url('/fonts/2F769F_0_0.ttf') format('truetype');}


@font-face {font-family: 'Asfalto';src: url('/fonts/2F769F_1_0.eot');src: url('/fonts/2F769F_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2F769F_1_0.woff2') format('woff2'),url('/fonts/2F769F_1_0.woff') format('woff'),url('/fonts/2F769F_1_0.ttf') format('truetype');}
body {
  color:#33302e;
  font-family: Asfalto;
}
h1, h2, h3, h4, h5, h6 {
  color: #3302e;
  font-family: Asfalto,sans-serif;
  font-weight: normal;
}
.alsfalto {font-family: Asfalto;}
.monthoers {font-family: Monthoers;}
.lowercase {
    text-transform: lowercase;
}
.shadow-black {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.bg-greyish {
  background-color: #fcfaf4;
}

.styled-border{
  border-style: solid;
  border-width: 10px;
  -moz-border-image: url(/images/border.png) 15 stretch;
  -webkit-border-image: url(/images/border.png) 15 stretch;
  -o-border-image: url(/images/border.png) 15 stretch;
  border-image: url(/images/border.png) 15 stretch;
}
.styled-btn{
  border-width: 2px;
  -moz-border-image: url(/images/btn.png) 4 stretch;
  -webkit-border-image: url(/images/btn.png) 4 stretch;
  -o-border-image: url(/images/btn.png) 4 stretch;
  border-image: url(/images/btn.png) 4 stretch;
}
.btn-outline:hover {
  background: url(/images/stroke.png)no-repeat;
  background-size: 105%;
  height:100%;
  overflow: visible;
  color:white;
}

.mapButtonOpen, .mapButtonClose {
  position: absolute;
  z-index: 200;
  right: 30px;
  top: 50px;

  background: url(/images/topo.png) no-repeat;
  background-size: 100%;
}
.mapButtonOpen span, .mapButtonClose span {
  display: none;
}
nav {
  z-index: 199;
}
nav .btn {
  font-family: Asfalto;
  font-weight: normal;
}
#trail-stops .h1 {
  font-family: Asfalto;
}
#trail-stops {
  text-transform: lowercase;
}

#map {
 height:480px;
 width:66%;
 margin:0;
 float:left;
}
.boozefinder{  background: #424241;
  float:left;
  height: 650px;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.boozefinder li:hover {cursor: hand ;}
.boozefinder .list-header {
  color: #fff;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40%;
}
.boozefinder .list-middle {
  color: #fff;
  height: 300px;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  top: 220px;
  width: 40%;
}
.boozefinder .list-footer {
  bottom: 0;
  color: #fff;
  height: 150px;
  left: 0;
  position: absolute;
  width: 40%;
}
.boozefinder .list-middle ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.boozefinder .list-middle ul li {
  background: rgba(0, 0, 0, 0) url("../img/theme/brew-finder/marker.png?20141215") left top no-repeat;
  border-bottom: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 0 20px 40px;
  margin-bottom: 20px;
  min-height: 10px;
  -moz-background-size: 26px 31px;
  -o-background-size: 26px 31px;
  -webkit-background-size: 26px 31px;
  background-size: 26px 31px;

}