  @font-face {
  font-family: "Monthoers";
  src: url("/fonts/Monthoers.otf");
  }

@font-face {font-family: 'Asfalto-Italic';src: url('/fonts/2F769F_0_0.eot');src: url('/fonts/2F769F_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2F769F_0_0.woff2') format('woff2'),url('/fonts/2F769F_0_0.woff') format('woff'),url('/fonts/2F769F_0_0.ttf') format('truetype');}


@font-face {font-family: 'Asfalto';src: url('/fonts/2F769F_1_0.eot');src: url('/fonts/2F769F_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2F769F_1_0.woff2') format('woff2'),url('/fonts/2F769F_1_0.woff') format('woff'),url('/fonts/2F769F_1_0.ttf') format('truetype');}


body {
  color:#33302e;
  font-family: Asfalto;
}
html {font-size: 16px;}
h1, h2, h3, h4, h5, h6 {
  /*color: #3302e;*/
  font-family: Asfalto,sans-serif;
  font-weight: normal;
}
ul {margin:0;}
.overflow-auto {overflow: auto;}
.h0 { font-size: 36px; font-size: 2.5rem }
.lh1 {line-height: 1;}
.lh1-2 {line-height: 1.2;}
.ls1 {letter-spacing: .2em;}
.alsfalto {font-family: Asfalto;}
.monthoers {font-family: Monthoers;}
.lato {font-family: Lato;}
.lowercase {
    text-transform: lowercase;
}
.shadow-black {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.bg-yellowish {
  background-color:#D9E021;
}
.bg-greyish {
  background-color: #fcfaf4;
}
.bg-green {
  background-color: #1E824C;
}
.bg-greyer {
  background-color: #424241;
}
.hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  border-bottom-color: #D9E021;
}
.flex-even {
  flex-grow: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
  flex-basis: 0;
}

/* SIDE NAV */

/* BORDERS */
.styled-border{
  border-style: solid;
  border-width: 10px;
  -moz-border-image: url(/images/border.png) 15 stretch;
  -webkit-border-image: url(/images/border.png) 15 stretch;
  -o-border-image: url(/images/border.png) 15 stretch;
  border-image: url(/images/border.png) 15 stretch;
}
.styled-border-bottom{
  border-style: solid;
  border-width: 0 0 10px;
  -moz-border-image: url(/images/border.png) 15 stretch;
  -webkit-border-image: url(/images/border.png) 15 stretch;
  -o-border-image: url(/images/border.png) 15 stretch;
  border-image: url(/images/border.png) 15 stretch;
}
.styled-btn{
  border-width: 2px;
  -moz-border-image: url(/images/btn.png) 4 stretch;
  -webkit-border-image: url(/images/btn.png) 4 stretch;
  -o-border-image: url(/images/btn.png) 4 stretch;
  border-image: url(/images/btn.png) 4 stretch;
}

/* SECTION HEADERS */
h1:before, #get-started .h1:before {
  padding: 0 10px 0 10px;
  content:'\21A0';
  vertical-align: 10%;
}
h1:after, #get-started .h1:after {
  padding: 0 5px 0 10px;
  content:'\219E';
  vertical-align: 10%;
}

/* BUTTONS */
.btn-outline:hover {
  background: url(/images/stroke.png)no-repeat;
  background-size: 100%;
/*  height:100%;*/
  overflow: visible;
  color:white;
}
.btn-primary {
  background-color: #269545;
  font-family: lato;
}
.nav,.passport,.nav-small {height: 0;}
.nav-menu {
  position: absolute;
  z-index: 9999999;
  top:0;
  height: 50px;
  width: 100%;
}
.nav-small {
  z-index: 9999999;
}
.passport-button  {
  position: absolute;
  z-index: 9999999;
  top:50px;
  right: 50px;
  height: 100px;
  width:100px;
}

/*.show-button {
  display: inline-block;
}*/

/* NAVBAR */
nav {
  z-index: 999;
}
nav .btn {
  font-family: Asfalto;
  font-weight: normal;
}
/* Trail Stop Cards */
#trail-stops .h1 {
  font-family: Asfalto;
}
#trail-stops {
  text-transform: lowercase;
}
#trail-stops ul {list-style-type: none; margin: 0;padding: 0;}

/* GETTING AROUND CARDS */
.getting-around-card{
  box-sizing: border-box;
  margin: 16px;
  margin: 1rem;
  color:#fff;
  background-color: #424241;
  border-radius: 3px;
  /*-webkit-box-flex: 1;*/
  -webkit-flex: 1 0 200px;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
}
.getting-around-card a, getting-around-card a:hover {
  color:#D9E021;
}
.getting-around-image{
  background-color: #1E824C;
  width: 100%;
  height:100px;
  margin:0;
  display: flex;
  justify-content: center;
}
.getting-around-image img{
  height: 100px;
  text-align: center;
}
.getting-around-header{
  margin-top: 0;
  font-size: 24px; font-size: 1.5rem;
  font-family: Asfalto;
}
.getting-around-content{
  padding:10px;
  text-align: center;
  font-family: lato;
  line-height: 1;
}
.getting-around-content ul {
  list-style: none;
  padding-left: 0;
}
.getting-around-content ul li {
  padding-bottom: 10px;
}


/* MAP SECTION */
.trail-map, .map, .map-panel {z-index: 1;}
.map {
 height:650px;
 width:66%;
 margin:0;
 float:left;
}
.list-location-title{
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Lato;
}
.map-panel{
  height: 650px;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background-color: #424241;
}
.map-panel .list-header{
  width: 100%;
}
.map-panel .list-header div{  letter-spacing: .2em;}

.map-panel .list-header .h3:before,
.map-panel .list-header .h3:after {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  content: "";
  display: inline-block;
  height: .1em;
  position: relative;
  vertical-align: middle;
  width: 50%;
  margin-bottom: .15em;
}
.map-panel .list-header .h3:before{
    right: 0.5em;
    margin-left: -50%;
}
.map-panel .list-header .h3:after {
    left: 0.5em;
    margin-right: -50%;
}
.map-panel .list-middle {
  color: #fff;
  height: 500px;
  width: 95%;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  top: 110px;
}

.map-panel .list-middle ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-middle li a:before{
  content: url("/images/map-marker-icon.png");
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.list-middle li a {
  color:white;
  text-decoration: none;
}
.list-middle li a:hover {
  color: #ff4136;
}
.map-panel .list-middle ul li {
  border-bottom: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 0 20px 40px;
  margin-bottom: 20px;
  min-height: 10px;
  -moz-background-size: 26px 31px;
  -o-background-size: 26px 31px;
  -webkit-background-size: 26px 31px;
  background-size: 26px 31px;
  cursor: pointer;
}

/* BUSINESS CARDS */
.flex-card-text p, .flex-card-text .address {
  line-height: 1;
}
.flex-300 {
  -webkit-flex: 1 0 300px;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
}

/* EVENTS */
.events a, .events a:hover {
  color:#D9E021;
  cursor: pointer;
}

/* FOOTER */
  .footer {
    height: 300px;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url("../images/trees.jpg");
    position:relative;
    left:0;
    bottom:0;
  }
 /* .footer-img {
    position:relative;
    left:0;
    bottom:0;
  }*/

/* MEDIA QUERIES */
/* Code to adjust the layout to 2 cards per row */
@media all and (max-width: 39em) {
  .nav-small .h1{font-size: 1rem;}
  .get-started h1, .get-started .h1 {font-size: 1.5rem;}
  .get-started .h3 {font-size: 1rem;}
  .flex-card-list li {
    max-width:100%;
  }
  .trail-stops .py3 {padding-top: 3rem;padding-bottom: 0rem;}
  .trail-stops h1, .getting-around h1 {font-size: 1.5rem;}
  .trail-stops .caps {letter-spacing: 0em;}
  .getting-around .py2 {padding-top: 1px;padding-bottom: 0}
  .map {
   height:300px;
   width:100%;
   margin:0;
   float:none;
  }
  .map {
   height:200px;
   width:100%;
   margin:0;
   float:none;
  }
  .map-panel {
    height:220px;
  }
  .map-panel .list-header img {height: 35px; width: 35px;}
  .map-panel .list-middle {
    top: 80px;
    height: 100px;
    width: 90%;
  }
  .map-panel .locations{
    margin: 8px; margin: .5rem ;
  }
  .map-panel .locations .h0, .map-panel .locations .h2 {font-size: 1.25rem;}
  .map-panel .locations .h3 {font-size: 1rem;}
  .header,nav, .start-img, .passport-button, .events, .get-started {display: none;}

  .events ul {margin:0;padding:0;}
  .events ul li .h1 {font-size: 1rem;}
  .events ul li .h2 {font-size: .75rem;}
}
@media all and (min-width:40em) {
  /* Float layout */
  .flex-card-list li {
    width:50%;
  }
  .no-flexbox .flex-card-list li {
    float:left;
  }
  .map {
   height:300px;
   width:100%;
   margin:0;
   float:none;
  }
  .nav-small {display:none;}

}
/* Code to adjust the layout to 3 cards per row */
@media all and (min-width:40em) and (max-width:60em) {

  /* Clears the row for 2 item per row layout */
  .no-flexbox .flex-card-list li:nth-child(2n+1) {
    clear:both;
  }
}
@media all and (min-width:60em) {
  /* common to flex and non-flex */
  .flex-card-list li {
    width:33.33%;
  }
  /* Float specific: Clear after every third item */
  .no-flexbox .flex-card-list li:nth-child(3n+1) {
    clear:both;
  }
  .map {
   height:650px;
   width:66%;
   margin:0;
   float:left;
  }
}